.facebook-icon {
    width: 100px;
    display: block;
    height: 20px;
    text-decoration: none;
    padding-left: 15px;
    margin: 5px;
  }

  .facebook-icon:before {
    content: '';
    background: url('https://drive.google.com/uc?export=view&id=1pgEleudexmvv-2JtMqC2CPtCuzizdiqi');
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -20px;
    margin-top: 3px;
  }

  .ig-icon {
    width: 100px;
    display: block;
    height: 20px;
    text-decoration: none;
    padding-left: 15px;
    margin: 5px;
  }

  .ig-icon:before {
    content: '';
    background: url('https://drive.google.com/uc?export=view&id=1y09f2dRYecX5POCJGgxvSch7nVYjBcNg');
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -20px;
    margin-top: 3px;
  }

  .email-icon {
    width: 100px;
    display: block;
    height: 20px;
    text-decoration: none;
    padding-left: 15px;
    margin-left: 5px;
    margin-top:5px;
  }

  .email-icon:before {
    content: '';
    background: url('https://drive.google.com/uc?export=view&id=1_jgMYVMHEpZ1LTw1J7AvrWlV3TOvhho9');
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -20px;
    margin-top: 3px;
  }

  .phone-icon {
    width: 100px;
    display: block;
    height: 20px;
    text-decoration: none;
    padding-left: 15px;
    margin-left: 5px;
    margin-top:5px;
  }

  .phone-icon:before {
    content: '';
    background: url('https://drive.google.com/uc?export=view&id=1t9jxdAUyZqW8zDNvV3ACpuN-POyoAQkl');
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -20px;
    margin-top: 3px;
  }
 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

